/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*General Styling*/
  * {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
  }
  :root {
    --white: white;
    --light-green: #22b573;
    --dark-green: #006837;
    --bg-green: #bde9d5;
  }
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Fonts*/
  h1 {
    color: var(--light-green);
  }

  h2 {
    color: var(--light-green);
  }

  h3 {
    color: var(--light-green);
  }

  .invert-color {
    color: var(--white);
  }

  li {
    display: inline-block;
    padding-right: 5px;
    color: var(--white);
  }
  a {
    text-decoration: none;
  }
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Shared Template Items*/
  /*Navigation*/
  .navigation {
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: var(--light-green);
  }

    .nav-left-1 {
      width: 5%;
      padding-left: 15px;
    }

    .nav-left-2 {
      width: 44%;
    }

      .nav-logo {
        display: inline-block;
        width: 50%;
        height: auto;
      }

    .nav-right {
      text-align: right;
      width: 49%;
    }

    /*Mobile Nav Responsive text*/
    @media only screen and (max-width: 370px) {
        .small-text {
          font-size: 1.5em;
        }
    }

  /*Mobile Navigation*/
  @media only screen and (max-width: 600px) {
    .nav-right {
      width: 29%;
      padding-right: 5%;
    }
    .nav-left-1 {
      width: 15%;
      padding-left: 15px;
    }
    .nav-left-2 {
      width: 44%;
    }
  }

  /*Mobile Navigation Menu and Control*/
  .mobile-nav-menu {
    position: fixed;
    display: flex;
    background-color: var(--bg-green);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: -100vh;
    transition: ease-in-out 0.3;
  }

    .mobile-nav-menu-inner {
      display: flex;
      text-align: center;
    }

  /*Hero Image*/
  .hero {
    position: relative;
    width: 100%;
    height: 60vh;
  }

    .hero-textbox {
      position: absolute;
      width: auto;
      height: auto;
      background-color: var(--light-green);
      bottom: 0;
      padding: 10px;
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 600px) {
      .hero-textbox {
        width: 100%;
        text-align: center;
        padding: 10px 0;
      }
    }



  /*Body Container*/

  .container {
    width: 80%;
    height: auto;
    margin: auto;
  }

  .container-split {
    display: grid;
    width: 90%;
    height: auto;
    margin: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "sidebar main main"
  }

  @media only screen and (max-width: 600px) {
    .container-split {
      grid-template-areas: "sidebar"
                           "main";
    }
  }

    .container-split-sidebar {
      grid-area: sidebar;
    }

    .container-split-main {
      grid-area: main;
    }

  /*Footer*/
  .footer {
    width: 100vw;
    height: auto;
    background-color: var(--light-green);
  }
  .footer-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    grid-row-gap: 10px;
    grid-template-areas: "footerone footertwo footerthree";
  }

  .footer-one {
    grid-area: footerone;
  }

  .footer-two{
    grid-area: footertwo;
  }

  .footer-three {
    grid-area: footerthree;
  }

  @media only screen and (max-width: 820px) {
    .footer-container {
      grid-template-areas: "footerone"
                           "footertwo"
                           "footerthree";
    }

  }
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  /*Content Boxes*/

  .box-large {
    width: 80%;
    margin: 40px auto;
  }

    /*Boxes Styling*/

    .box-topbar {
      background-color: var(--light-green);
      padding: 10px;
    }

    .box-textarea {
      background-color: var(--bg-green);
      padding: 10px;
    }

    /*Boxes Additional Options*/

    .box-split-two {
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      grid-template-areas: "one two";
    }
      @media only screen and (max-width: 600px) {
        .box-split-two {
          grid-template-areas: "one"
                               "two";
        }
      }

    .box-split-2-section-1 {
      grid-area: one;
      height: auto;
      background-color: var(--light-green);
      padding: 5px;
    }

    .box-split-2-section-2 {
      grid-area: two;
      height: auto;
      background-color: var(--light-green);
      padding: 5px;
    }
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Templates*/
    /*Getting Started Template*/
    .started-icon {
      width: 10%;
      height: auto;
      display: inline-block;
    }

    .started-text {
      width: 80%;
      height: auto;
      display: inline-block;
    }

    @media only screen and (max-width: 600px) {
      .started-icon {
        text-align: center;
        width: 100%;
        height: auto;
        display: block;
      }

      .started-text {
        text-align: center;
        width: 100%;
        height: auto;
        display: block;
      }
        }
    /*Top Project Template*/

    .tp-container {
      width: 100%;
      height: 100%;
    }

      .tp-img {
        width: 100%;
        height: auto;
      }

    /*Profile Info Template*/

    .profile-grid {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }

      .profile-pic {
        display: inline-block;
        width: 30%;

      }

      .profile-text {
        display: inline-block;
        height: 20vh;
        width: 60%;
      }

        .profile-text-inner {
          height: 15vh;
          display: -webkit-flex;
          display: flex;
          align-items: center;
        }

      .tp-profile-img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }

      @media only screen and (max-width: 1270px) {
            .profile-pic {
              width: 100%;
              display: block;
              text-align: center;
              margin: auto;
            }

            .tp-profile-img {
              width: 80%;
              height: auto;
              border-radius: 50%;
            }

            .profile-text {
              display: block;
              width:100%;
              padding: 0;
              height: auto;
            }
          }
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Misc*/
    /*Font Awesome*/
    .fa-menu-open{
      color: var(--white);
    }

    .fa-menu-close{
      color: var(--white);
    }

    .fa-started-icon {
      color:  var(--bg-green);
    }

    .icon-bg {
      background: var(--light-green);
      width: 35px;
      height: 32px;
      text-align: center;
      line-height: 30px;
      vertical-align: middle;
      padding: 20px;
      margin-right: 10px;
  }
    /*HTML General*/
    li {
      display: inline-block;
      padding-right: 5px;
      color: var(--white);
    }
    a {
      text-decoration: none;
    }

    /*HTML Forms*/

    input[type=text] {
      display: block;
      width: 90%;
      height: 20px;
      margin: 5px auto;
      border: none;
      background-color: var(--white);
      padding: 5%;
      font-size: 16px;
    }

    input[type=password] {
      display: block;
      width: 90%;
      height: 20px;
      margin: 5px auto;
      border: none;
      background-color: var(--white);
      padding: 5%;
      font-size: 16px;
    }

    textarea {
      resize: none;
      display: block;
      width: 90%;
      height: 60px;
      margin: 5px auto;
      border: none;
      background-color: var(--white);
      padding: 5%;
      font-size: 16px;
    }

    button {
      padding: 10px;
      background-color: var(--light-green);
      border: none;
      color: var(--white);
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: var(--dark-green);
    }

    input[type=checkbox] {
      display: inline-block;
      margin: 10px;
    }

    label {
      display: inline-block;
    }

    .checkbox-label {
      display: inline-block;
    }
